/*global start*/
:root {
  --white: #fff;
  --black: #022534;
  --skyblue: #9dc5c9;
  --green: #006a72;
  --pink: #f2b6a8;
}

:root {
  --white: #fff;
  --black: #022534;
  --skyblue: #9dc5c9;
  --green: #006a72;
  --pink: #f2b6a8;
}

li {
  list-style: none;
}

a,
button {
  font-family: "Nunito", sans-serif;
}

a.primary-button {
  background: var(--green);
  color: var(--white);
  padding: 14px 23px;
  border-radius: 5px;
  display: inline-block;
}
a.primary-button:hover {
  background: var(--pink);
}

.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  position: relative;
}

.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.44);
  z-index: 0;
  height: 550px;
}

.bannertitle {
  z-index: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: var(--black);
  font-family: "Nunito", sans-serif;
}
@media screen and (max-width: 992px) {
  p {
    line-height: 20px;
  }
}

h1 {
  font-size: 60px;
  font-weight: 500;
  color: var(--white);
  font-family: "Playfair Display";
}
@media screen and (max-width: 992px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-size: 40px;
  line-height: normal;
  font-weight: 500;
  font-family: "Playfair Display";
  color: var(--pink);
}
@media screen and (max-width: 992px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-size: 28px;
  line-height: normal;
  font-weight: 500;
  font-family: "Playfair Display";
  color: var(--pink);
}

h4 {
  font-size: 25px;
  line-height: normal;
  font-weight: 500;
  font-family: "Playfair Display";
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: "Roboto Slab", serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  color: inherit;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

/*global end*/
/*header start*/
header.site-header {
  background: var(--green);
  font-size: 18px;
  padding: 14px 0;
  font-weight: 700;
  text-transform: capitalize;
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  transition: 0.3s;
}

header.site-header.sticky {
  background: var(--green);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding: 10px 0;
  position: fixed;
}

.site-header .site-nav ul li a.active {
  color: var(--pink) !important;
}

.site-logo img {
  width: 100%;
  max-width: 250px;
}

.site-nav a {
  padding: 8px 26px !important;
  display: inline-block;
  font-weight: 500;
  color: var(--white) !important;
}
.site-nav a:hover {
  color: var(--pink) !important;
  transition: 0.3s;
  border-bottom: 1px solid var(--white);
}

.site-header {
  padding: 10px 0;
}

.site-header .container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.headerflex {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 70px;
}

nav.site-nav {
  max-width: 100%;
  margin: 0 auto;
}

.site-nav ul {
  display: flex;
  align-items: center;
}

.closed-menu {
  display: none;
}

.menu-toggle {
  display: none !important;
}

/*header end*/
/*footer-css-start*/
.site-footer {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.65)), url(../images/footerbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-logo img {
  max-width: 200px;
}

.footer-heading h4 {
  color: var(--skin);
  font-size: 35px;
}

.footer-links ul li a:hover {
  color: var(--light-pink);
}

.footer-links ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: var(--white);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.footer-links ul li a:hover {
  color: var(--pink);
}

.footer-links ul li {
  margin-bottom: 5px;
}

.social-links ul {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  justify-content: center;
}

.social-links ul li {
  border: 1px solid #fff;
  padding: 9px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.social-links ul li a i {
  color: var(--white);
  text-align: center;
  transition: 0.3s;
}

.social-links img {
  height: 14px;
  width: 16px;
  object-fit: cover;
  transition: 0.3s;
}
.social-links img:hover {
  transform: translateY(-10px);
}

.footer-links ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
}

.social-links ul li a i:hover {
  transform: translateY(-10px);
  color: var(--pink);
}

.footer-wrap {
  text-align: center;
  padding: 30px 0 0 0;
}

.copy-right p {
  color: #fff;
}

.copy-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #fff;
}

.row.bgimg {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px;
  background-color: rgba(0, 106, 114, 0.5607843137);
  padding: 0 30px;
}

/*footer-css-end*/
/*privacy-policy start*/
.privacy__section.banner {
  background: var(--green);
  text-align: center;
  position: relative;
  background-position: top;
}

.privacy-policy {
  padding: 40px 0;
}
.privacy-policy .content-wrap h4 {
  color: var(--green);
  margin-bottom: 0;
  font-weight: 400;
}
.privacy-policy .content-wrap p {
  color: var(--black);
  font-size: 15px;
}
.privacy-policy .content-wrap li {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: var(--black);
  font-family: "Nunito";
}

/*privacy-policy end*/
/*terms-conditon start*/
.terms__section.banner {
  background: var(--green);
  text-align: center;
  position: relative;
  background-position: top;
}

.terms {
  padding: 40px 0;
}
.terms .content-wrap h4 {
  color: var(--green);
  margin-bottom: 0;
  font-weight: 400;
}
.terms .content-wrap p {
  color: var(--black);
  font-size: 15px;
}
.terms .content-wrap li {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: var(--black);
  font-family: "Nunito";
}

/*terms-conditon-end/

/*Start Faq css*/
.faq-page {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.casino-text.hoteli {
  padding: 0 0 50px 0 !important;
}

.faq-item {
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Nunito";
}

.faq-item:last-child {
  border-bottom: none;
}

.faq-question {
  font-size: 18px;
  line-height: 25px;
  color: var(--green);
  font-weight: 700;
}

.faq-section {
  padding: 50px 0;
}

.icon-container::before {
  background-image: url();
}

.faq-answer {
  font-size: 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  padding-left: 10px;
  padding-right: 10px;
}
.faq-answer p {
  padding-top: 25px;
  padding-bottom: 25px;
}

.faq-answer.active {
  border-bottom: 1px solid #e0e0e0;
}

.icon-container i {
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.icon-container i.active {
  transform: rotate(90deg);
}

.differ-content img {
  max-width: 190px;
}

.differ-picture {
  overflow: hidden;
}

.differ-picture img {
  margin-left: 50px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.differ-picture:hover img {
  margin-left: 0;
  filter: grayscale(1);
}

/*End Faq css*/
/*home-css-start*/
.homebanner.banner {
  background-image: url(../images/homebanner.jpg);
  height: 700px;
  position: relative;
}
.homebanner.banner::after {
  height: 700px;
}
.homebanner.banner p {
  font-size: 20px;
}

.hotelcard {
  padding: 100px 0;
}
.hotelcard-inner img {
  height: 330px;
  object-fit: cover;
  border-radius: 20px;
}
.hotelcard-inner img:hover {
  filter: grayscale(1);
}
.hotelcard-inner img::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
}
.hotelcard-main {
  position: relative;
  overflow: hidden;
}

.hotel-text {
  position: absolute;
  bottom: 20px;
  left: 18px;
}
.hotel-text a {
  color: var(--white);
  font-size: 30px;
  font-weight: bold;
}

.differ-section {
  padding: 50px 0;
}
.differ-picture img {
  border-radius: 10px;
  height: 450px;
  object-fit: cover;
}

.differ-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.differ-content h4 {
  color: var(--green);
}

/*home-css-end*/
/*Casinohotel-css-start*/
.casinohotelbanner.banner {
  background-image: url(../images/casinohotelbanner.jpg);
  background-position: center;
}

.toptext {
  padding: 50px 0;
}

.commoncard__picture img {
  height: 500px;
  object-fit: cover;
  max-width: 560px;
  border-radius: 8px;
  width: 100%;
  transition: all 0.3s linear;
}
.commoncard__picture img:hover {
  filter: grayscale(1);
}
.commoncard__part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
}
.commoncard__part p {
  position: relative;
}
.commoncard__part p::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: var(--green);
  height: 7px;
  width: 7px;
  border-radius: 10px;
  top: 10px;
  left: -15px;
}

footer.section-footer.ptb-50 {
  background: var(--green);
}

.tiles-picture img {
  max-width: 500px;
  margin: 0 auto;
  display: block;
}
.tiles-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.disclamier-text {
  padding-bottom: 50px;
}

.disclamier-text span {
  color: var(--green);
  font-weight: 600;
}

/*Casinohotel-css-end*/
/*dining-css-start*/
.diningbanner.banner {
  background-image: url(../images/diningbanner.jpg);
  background-position: center;
}

/*dining-css-end*/
/*events-css-start*/
.eventbanner.banner {
  background-image: url(../images/eventbanner.jpg);
  background-position: center;
}

/*events-css-end*/
/*sight-css-start*/
.sightbanner.banner {
  background-image: url(../images/sightbanner.jpg);
  background-position: center;
}

/*sight-css-end*/


/*# sourceMappingURL=style.css.map */
